.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  height: 100%;

  /* or set a specific height if needed */
}
.image-container img {
  border-radius: 20%;  /* This makes the image rounded */
}


body {
  background: linear-gradient(to right, rosybrown, #e0e0e2); /* Replace with your desired colors. */
}

.carousel-image {
  max-width: 50%;  /* Adjust as needed to make the image smaller */
  margin: 0 auto; /* To center the image */
  display: block;

}

/*.cap-text-cont {
  background-color: rgba(0, 0, 0, 0.5); !* Semi-transparent black background to make the text more readable *!
  padding: 10px;
  border-radius: 5px; !* Optional: rounded corners *!
}*/
.cap-text-cont {
  position: relative;
  top: 0;
  background-color: transparent;
  text-align: center;
}
.live-demo-link {
  display: block;
  margin-top: 10px;
  color: #00f; /* Change to desired link color */
  text-decoration: underline;
}
.crsl-cont .carousel-caption {
  position: relative; /* Change from absolute to relative */
  bottom: 0; /* Reset the bottom positioning */
}
.badge-margin {
  margin-left: 10px; /* Adjust this value as needed */
}
